<!--The content below is only a placeholder and can be replaced.-->
<app-navigation-bar></app-navigation-bar>
<div style="text-align:center">
  <h1>
    How to Train Your {{ title }}!
  </h1>  
</div>
<app-movie-thumbnail [movieThumbnail]="movieThumbnail"></app-movie-thumbnail>
<app-movie-info [title]="title" [rating]="rating" 
[shortDescription]="shortDescription" 
[runtime]="runtime" 
[releaseDate]="releaseDate"></app-movie-info>
<app-next-movie></app-next-movie>
<app-footer-bar></app-footer-bar>
